@font-face {
    font-family: Nunito;
    src: url(../../complementos/font/Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Light.ttf);
}

:root{
    --app-height: 100%;
    --firts-color: #22577E;
    --second-color: #eee;
    --third-color: rgb(66, 44, 44);
    --color-validity: green;
    --color-error: red;
    --heigth-header : 3.5rem;
    --font-header: Nunito, Arial, Helvetica, sans-serif;
    --font-body: Roboto, Arial, Helvetica, sans-serif;
}

symbol path,
symbol g path,
symbol g g path,
symbol g rect,
symbol g polygon{
    fill: var(--second-color);
}

symbol.contrast_nav path,
symbol.contrast_nav g path,
symbol.contrast_nav g g path,
symbol.contrast_nav g rect,
symbol.contrast_nav g polygon{
    fill: var(--third-color);
}

body{
    font-size: 16px;
    margin: 0;
    overflow-y: scroll;
    scrollbar-color: var(--second-color) var(--firts-color);
    max-height: 2000px;
    background-color: var(--second-color);
    scroll-behavior: smooth;
}

main{
    display: block;
    background-color: var(--second-color);
}

header{
    color: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--firts-color);
    height: var(--heigth-header);
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-header);
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 70%;
}

header div a{
    color: var(--second-color);
    text-decoration: none;
    font-size: 1rem;
    margin-left: .5rem;
}

header div svg{
    width: 2.5rem;
    height: 2.5rem;
}

.hide{
    display: none;
}

/*class nav in query*/
.query{
    margin-right: 1rem;
    margin-left: 1rem;
}

.query nav{
    background-color: var(--second-color);
    font-size: 1rem;
    font-family: var(--font-header);
}

.query nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.query nav ul li{
    flex-grow: 1;
    text-align: center;
}

.query nav ul li a{
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
    color: var(--third-color);
}

.query nav ul li a span{
    display: none;
}

.query nav ul li a svg{
    width: 1.5rem;
    height: 1.5rem;
}

.query nav ul li a:not(.active){
    border-bottom: 1px solid var(--third-color);
}

.query nav ul li a:not(.active):hover{
    background-color: #cdcdcdff;
    color: var(--third-color);
}

.query nav ul li a.active{
    background-color: var(--firts-color);
    color: var(--second-color);
    border-bottom: 1px solid var(--firts-color);
}

/*end class nav in query*/

/*class form dpt*/
.form_dpt{
    background-color: var(--firts-color);
}

.form_dpt section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: var(--font-body);
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form_dpt section:first-child{
    padding-top: .5rem;
}

.form_dpt section label{
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 700;
}

.form_dpt .group_submit input{
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--font-body);
    margin-bottom: 1rem;
}

.form_dpt section:last-child{
    margin-top: .5rem;
}

.choices__inner{
    min-height: auto;
}

/*end class form dpt*/

/*class container table*/
.container_table{
    margin-top: 2rem;
    background-color: var(--firts-color);
}

.container_table table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid var(--firts-color);
}

.container_table table thead tr{
    background-color: var(--firts-color);
    color: var(--second-color);
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-body);
}

.container_table table thead tr th:nth-child(1){
    width: 40%;
}

.container_table table tbody tr{
    font-size: 1rem;
    font-family: var(--font-body);
    color: var(--third-color);
}

.container_table table tbody tr:nth-child(even){
    background-color: #cdcdcdff;
}

.container_table table tbody tr td{
    text-align: center;
}

.container_table table tbody tr td button{
    background-color: var(--firts-color);
}

.container_table table tbody tr td button svg{
    width: 1.2rem;
    height: 1.2rem;
    padding: .2rem;
}

.container_table table th,
.container_table table td{
    padding: .5rem;
}
/*end class container table*/

/*style map*/
#map{
    height: 400px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px solid var(--firts-color);
    /*background-color: yellowgreen;*/
}
/*end style map*/

/*style footer*/
footer{
    margin-top: 1.5rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--firts-color);
    color: var(--second-color);
    padding-left: .5rem;
    padding-right: .5rem;
    height: 3rem;
}

footer svg{
    width: 1.5rem;
    height: 1.5rem;
}

footer a{
    text-decoration: none;
}

footer div span{
    font-family: var(--font-body);
    font-weight: 700;
    font-size: 1.1rem;
}

footer div a:first-child{
    margin-right: .5rem;
}
/*end style footer*/

@media screen and (min-width: 900px){
    body{
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow-y: hidden;
    }

    .border_top_section{
        border-top: 2px solid var(--firts-color);
    }

    section.query{
        margin-left: 1rem;
        overflow-y: scroll;
        scrollbar-color: var(--firts-color) var(--second-color);
    }

    #map{
        height: auto;
        margin-right: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .container_table table caption{
        display: none;
    }

    footer{
        margin-left: 0;
        margin-right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
    }

    .query nav ul li a span{
        display: block;
    }
    
    .query nav ul li a svg{
        display: none;
    }
}

@media (min-width: 1200px) {
    section.query{
        margin-left: 0;
        margin-right: .5rem;
    }

    #map{
        margin: 0;
    }
}
