@font-face {
    font-family: Nunito;
    src: url(../../complementos/font/Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Light.ttf);
}

:root{
    --app-height: 100%;
    --firts-color: #22577E;
    --second-color: #eee;
    --third-color: rgb(66, 44, 44);
    --fourth-color: #DFDFDE;
    --fifth-color: #D8D2CB;
    --color-validity: green;
    --color-error: #E60965;
    --heigth-header : 3.5rem;
    --font-header: Nunito, Arial, Helvetica, sans-serif;
    --font-body: Roboto, Arial, Helvetica, sans-serif;
}

symbol path,
symbol g path,
symbol g g path,
symbol g rect,
symbol g polygon{
    fill: var(--second-color);
}

symbol.active path,
symbol.active g path,
symbol.active g g path,
symbol.active g rect,
symbol.active g polygon{
    fill: var(--firts-color);
}

.hide{
    display: none;
}

svg{
    width: 2.5rem;
    height: 2.5rem;
}

@keyframes fade_in_data{
    from {opacity: 0;}
    to {opacity: 1;}
}

body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    animation-duration: .7s;
}

header{
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: var(--firts-color);
    height: var(--heigth-header);
    color: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-header);
}

header aside svg{
    margin-right: .5rem;
}

header aside span{
    width: 80%;
}

main{
    background-color: var(--fourth-color);
}

.footer_icon ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_icon ul li{
    flex-grow: 1;
    text-align: center;
    background-color: var(--firts-color);
}

.footer_icon ul li a{
    text-decoration: none;
    display: block;
    padding: .5rem .5rem;
}

.footer_icon ul li a.active{
    background-color: var(--fourth-color);
}

#map.show{
    height: 100%;
}

.text_popup{
    font-size: 1rem;
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--firts-color);
    text-align: center;
}

/*STYLE NAV FORM LOCATION*/
#form_location nav{
    background-color: var(--fifth-color);
    margin-top: 1rem;
}

#form_location nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#form_location nav ul li{
    flex-grow: 1;
    text-align: center;
}

#form_location nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-body);
    padding: .5rem 1rem;
    display: block;
    color: var(--third-color);
    border-bottom: 2px solid var(--firts-color);
}

#form_location nav ul li a.active{
    background-color: var(--firts-color);
    color: var(--second-color);
}
/*END STYLE NAV FORM LOCATION*/

/**/

#form_location.show #form_dpt.show{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--fourth-color);
}

#form_location.show #form_dpt.show .group_items{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#form_location.show #form_dpt.show .group_items label{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--font-body);
    color: var(--firts-color);
}

#form_location.show #form_dpt.show .group_submit{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#form_location.show #form_dpt.show .group_submit input{
    width: 100%;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-body);
    font-weight: 700;
    background-color: var(--firts-color);
    color: var(--fourth-color);
    border-radius: .5rem;
}

#form_location.show #form_dpt.show .group_submit input:disabled{
    background-color: #D8D2CB;
    color: var(--third-color);
}

.choices{
    color: var(--firts-color);
    font-family: var(--font-body);
    font-weight: 100;
}

#form_location #geolocation.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

#form_location #geolocation.show h3{
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--firts-color);
    margin-top: 1rem;
    text-align: center;
}

#form_location #geolocation.show button{
    width: 85%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-body);
    color: var(--second-color);
    background-color: var(--firts-color);
    margin-top: 1rem;
    padding: .6rem;
    border-radius: .5rem;
}

#form_location #geolocation.show button:hover{
    opacity: .7;
}

/**/

/**/
#summary_table.show{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

#summary_table.show table{
    table-layout: fixed;
    width: 95%;
    border-collapse: collapse;
    border: 3px solid var(--firts-color);
}

#summary_table.show table thead{
    background-color: var(--firts-color);
    color: var(--second-color);
    font-size: 1rem;
}

#summary_table.show table thead tr th{
    text-align: center;
}

#summary_table.show table thead th:nth-child(1){
    width: 55%;
}

#summary_table.show table tbody{
    color: var(--firts-color);
}

#summary_table.show table tbody tr{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

#summary_table.show table tbody tr td:nth-child(1){
    text-align: left;
    padding-left: .5rem;
}

#summary_table.show table tbody tr td:nth-child(2){
    text-align: center;
}

#summary_table.show table tbody tr td:nth-child(3){
    text-align: right;
    padding-right: .5rem;
}

#summary_table.show table tbody tr:nth-child(even){
    background-color: #D8D2CB;
}

#summary_table.show table tbody tr td button{
    background-color: var(--firts-color);
}

#summary_table.show table tbody tr td button svg{
    width: 1.5rem;
    height: 1.5rem;
}

/**/

/**/
#delete.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete.show .preloader_delete{
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    border-radius: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#delete.show .preloader_delete label{
    color: var(--color-error);
}

#delete.show .preloader_delete h3{
    color: var(--color-error);
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-body);
    margin: 0;
}

#delete.show .preloader_delete section button{
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--font-body);
    border-radius: .5rem;
}

#delete.show .preloader_delete section button.cancel{
    background-color: #D8D2CB;
    color: var(--third-color);
}

#delete.show .preloader_delete section button.confirm{
    background-color: var(--firts-color);
    color: var(--second-color);
    margin-right: 1rem;
}

#delete.show .preloader_delete section button:hover{
    opacity: .7;
}

/**/
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(2.5);
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px
}

.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}

.gg-info::after {
    bottom: 2px;
    height: 8px
}

.gg-info::before {
    height: 2px;
    top: 2px
}
/**/

/**/

/*STYLE MENU BURGER*/
.menu_btn_burger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid #fff;*/
}

.btn_burger{
    width: 2rem;
    height: 4px;
    background: var(--second-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.btn_burger::before,
.btn_burger::after{
    content: '';
    position: absolute;
    width: 2rem;
    height: 4px;
    background: var(--second-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.btn_burger::before {
    transform: translateY(-12px);
}

.btn_burger::after {
    transform: translateY(12px);
}

/* ANIMATION */
.menu_btn_burger.open .btn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu_btn_burger.open .btn_burger::before {
transform: rotate(45deg) translate(35px, -35px);
}

.menu_btn_burger.open .btn_burger::after {
transform: rotate(-45deg) translate(35px, 35px);
}

/*END STYLE MENU BURGER*/

/**/

/**/

/*STYLE FOOTER SIDEBAR*/
footer.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

footer.sidebar div.icon{
    display: flex;
    align-items: center;
}

footer.sidebar div.icon a{
    text-decoration: none;
}

footer.sidebar div.icon a:first-child{
    margin-right: .5rem;
}

footer.sidebar div.icon a svg{
    width: 2rem;
    height: 2rem;
}

footer.sidebar div span{
    width: 70%;
    font-size: 1.2rem;
    font-family: var(--font-body);
}
/*END STYLE SIDEBAR*/

/**/

#information.open aside section p{
    font-size: 1.1rem;
    font-family: var(--font-body);
    text-align: justify;
    margin-left: .7rem;
    margin-right: .7rem;
}

#information.open aside section ul{
    list-style-type: disc;
    font-size: 1.1rem;
    font-family: var(--font-body);
    margin-right: .7rem;
    margin-left: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#information.open aside section ul li{
    text-align: justify;
}

/**/

@media screen and (max-width: 900px){
    main{
        overflow-y: scroll;
    }

    body{
        background-color: var(--fourth-color);
    }

    #info{
        display: none;
    }

    #information{
        position: fixed;
        z-index: 1200;
        background-color: var(--firts-color);
        width: 100vw;
        transition: 1s all;
        padding: 1rem;
        top: var(--heigth-header);
        left: 100vw;
        height: calc(100% - var(--heigth-header));
    }

    #information.open{
        left: 0;
    }

    #information.open aside{
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
    }

    #information.open aside h3{
        text-align: center;
        font-family: var(--font-body);
        font-weight: 700;
        font-size: 1.2rem;
    }

    #information.open aside h3 a{
        display: none;
    }

    #information.open aside section{
        overflow-y: scroll;
    }

    /**/

}

@media screen and (min-width: 900px){

    header aside span{
        width: 100%;
        font-size: 1.2rem;
    }

    #icon_burger{
        display: none;
    }

    #info{
        display: flex;
    }

    #info a{
        text-decoration: none;
        font-family: var(--font-body);
        margin-left: .5rem;
        font-size: 1.2rem;
        cursor: pointer;
    }

    #list_map{
        display: none;
    }

    body{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        grid-template-rows: auto 1fr;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar map"
                            "footer map";
    }

    #map{
        grid-area: map;
    }

    #form_location.show,
    #summary_table.show{
        grid-area: sidebar;
        overflow-y: scroll;
    }

    .footer_icon{
        grid-area: footer;
    }

    html{
        background-color: var(--fifth-color);
    }

    #information.open{
        position: fixed;
        z-index: 1200;
        width: 100vw;
        transition: 1s all;
        left: 0;
        display: grid;
        place-items: center;
        height: 100vh;
        padding-right: 3rem;
        padding-left: 3rem;
        background-color: rgba(3, 3, 3, 0.8);
    }

    #information.open aside{
        background-color: var(--firts-color);
        padding: 1rem 2rem;
        border-radius: 1rem;
        max-width: 1000px;
    }

    #information.open aside section{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #information.open aside h3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #information.open aside h3 span,
    #information.open aside h3 a{
        font-size: 1.3rem;
        font-family: var(--font-header);
    }

    #information.open aside h3 a{
        font-size: 2rem;
        text-decoration: none;
        cursor: pointer;
    }

}