@font-face {
    font-family: Nunito;
    src: url(../../complementos/font/Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Light.ttf);
}

:root{
    --font-header: Nunito, Arial, Helvetica, sans-serif;
    --font-body: Roboto, Arial, Helvetica, sans-serif;
    --height-header: 3.5rem;
    --firts-color: #22577E;
    --second-color: #DFDFDE;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

main{
    display: grid;
    width: 100%;
    height: 100%;
}

symbol path,
symbol g path,
symbol g g path,
symbol g rect,
symbol g polygon{
    fill: var(--second-color);
}

symbol.active path,
symbol.active g path,
symbol.active g g path,
symbol.active g rect,
symbol.active g polygon{
    fill: var(--firts-color);
}

header{
    background-color: var(--firts-color);
    height: var(--height-header);
}

/*STYLE FOOTER*/
footer{
    background-color: var(--firts-color);
}

footer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li{
    flex-grow: 1;
    text-align: center;
}

footer ul li a{
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
}

footer ul li a.active{
    background-color: var(--second-color);
}
/*END STYLE FOOTER*/

header{
    font-size: 1.2rem;
    font-family: var(--font-body);
    font-weight: 700;
    color: var(--second-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}

header aside{
    display: flex;
    align-items: center;
}

header aside span{
    margin-left: .5rem;
}

.list_optional{
    display: none;
}

@media all and (max-width: 900px){
    header svg,
    footer svg{
        width: 2.5rem;
        height: 2.5rem;
    }

    main{
        grid-template-rows: auto 1fr auto;
        grid-template-areas:    "header"
                                "main"
                                "footer";
    }

    header{
        grid-area: header;
    }

    footer{
        grid-area: footer;
    }

    .main_show{
        grid-area: main;
    }

    aside.btn_info{
        display: none;
    }
    
}

@media all and (min-width: 900px){
    header svg,
    footer svg{
        width: 1.8rem;
        height: 1.8rem;
    }

    aside.btn_info svg{
        width: 1.4rem;
        height: 1.4rem;
        margin-right: .5rem;
    }

    main{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "header header"
                                "main map"
                                "footer map";
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        grid-area: header;
    }

    header{
        justify-content: space-between;
        padding-right: 1rem;
    }

    header aside.btn_info a{
        color: var(--second-color);
        text-decoration: none;
    }

    footer{
        grid-area: footer;
    }

    .main_show{
        grid-area: main;
    }

    #map{
        grid-area: map;
        height: 100%;
        background-color: chartreuse;
    }

    li#list_map{
        display: none;
    }

    li#list_info{
        display: none;
    }

}