:root{
    --font-header: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    --font-body: 'Nunito', Arial, Helvetica, sans-serif;
    --height-header: 3.5rem;
    --firts-color: #22577E;
    --second-color: #DFDFDE;
    --third-color: #FF8AAE;
    --fourth-color: #EDE6DB;
    --app-height: 100%;
}

.hide{
    display: none;
}

#wallpaper.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

@keyframes fade_in_screen{
    0% {height: 0vh;}
    50% {height: 180vh;}
    100% {height: 0vh;}
}

#screen{
    background-color: var(--third-color);
    position: fixed;
    z-index: 1200;
    top: -280px;
    left: 0;
    width: 100vw;
    max-width: 400px;
    height: 10vh;
    transform: skewY(-10deg);
    transition: all 0.45s;
    animation-timing-function: linear;
    animation-duration: 2s;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

@keyframes fade_in_data{
    from {opacity: 0;}
    to {opacity: 1;}
}

main{
    display: grid;
    width: 100%;
    height: 100%;
    animation-duration: .7s;
}

symbol path,
symbol g path,
symbol g g path,
symbol g rect,
symbol g polygon{
    fill: var(--second-color);
}

symbol.active path,
symbol.active g path,
symbol.active g g path,
symbol.active g rect,
symbol.active g polygon{
    fill: var(--firts-color);
}

header{
    background-color: var(--firts-color);
    height: var(--height-header);
}

/*STYLE FOOTER*/
footer{
    background-color: var(--firts-color);
}

footer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li{
    flex-grow: 1;
    text-align: center;
}

footer ul li a{
    text-decoration: none;
    display: block;
    padding: 1rem 1rem;
}

footer ul li a.active{
    background-color: var(--second-color);
}
/*END STYLE FOOTER*/

header{
    font-size: 1.2rem;
    font-family: var(--font-body);
    font-weight: 700;
    color: var(--second-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}

header aside{
    display: flex;
    align-items: center;
}

header aside span{
    margin-left: .5rem;
}

#form_location.show{
    background-color: var(--second-color);
    overflow-y: scroll;
}

#form_location.show nav{
    width: 90%;
    background-color: var(--second-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

#form_location.show nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#form_location.show nav ul li{
    flex-grow: 1;
    text-align: center;
}

#form_location.show nav ul li a{
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    color: var(--firts-color);
    font-size: 1.2rem;
    font-family: var(--font-body);
}

#form_location.show nav ul li a.active{
    background-color: var(--firts-color);
    color: var(--second-color);
    border: 1px solid var(--firts-color);
}

/**/
#query_location.show,
#geolocation.show{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--firts-color);
}
#query_location.show section.group_items{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#query_location.show section.group_items label{
    font-size: 1rem;
    font-family: var(--font-body);
    margin-bottom: .5rem;
}

#query_location.show section.group_submit{
    display: flex;
    justify-content: center;
}

#query_location.show section.group_submit input,
#geolocation.show button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: var(--font-body);
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--firts-color);
    color: var(--second-color);
    font-weight: 700;
}

#geolocation.show button{
    max-width: 200px;
}

#query_location.show section.group_submit input:hover,
#geolocation.show button:hover{
    opacity: .7;
}

#query_location.show section.group_submit input:disabled,
#geolocation.show button:disabled{
    background-color: #ddd;
    color: #000;
}

#geolocation.show button{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#geolocation.show h3{
    font-size: 1rem;
    font-family: var(--font-body);
    text-align: center;
    font-weight: normal;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#information.show{
    display: grid;
    grid-template-rows: auto 1fr auto;
    z-index: 1000;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: var(--firts-color);
    color: var(--second-color);
    position: fixed;
    top: 0;
    left: 0;
}

#information.show section{
    padding: .5rem 1rem;
}

#information.show section.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--height-header);
    font-size: 1.2rem;
    font-family: var(--height-header);
    font-weight: 700;
}

#information.show section.header a{
    color: var(--second-color);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

#information.show section.main{
    overflow-y: scroll;
    padding-top: 0;
}

#information.show section.main p{
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-body);
}

#information.show section.main ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin-left: 1.5rem;
}

#information.show section.main ul li{
    font-size: 1rem;
    font-family: var(--font-body);
    text-align: justify;
    display: inline-block;
}

#information.show section.main ul li::before{
    content: '\1F449';
    display: inline;
}

#information.show section.main ul li a{
    text-decoration: underline;
    font-weight: bold;
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--second-color);
}

#information.show section.main aside.contact{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 3rem;
   font-family: var(--font-body);
   font-size: 1rem;
}

#information.show section.main aside.contact svg{
    width: 2rem;
    height: 2rem;
}

#information.show section.main aside.contact svg:first-child{
    margin-left: .5rem;
}

#information.show section.footer{
    height: var(--height-header);
    display: flex;
    justify-content: end;
    align-items: center;
}

#information.show section.footer button{
    padding: .3rem;
    background-color: var(--second-color);
    color: var(--firts-color);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .5rem;
    font-family: var(--font-body);
    cursor: pointer;
}

/**/
#summary_table.show{
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    font-family: var(--font-body);
}

#summary_table.show table{
    table-layout: fixed;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 3px solid var(--firts-color);
}

#summary_table.show table thead{
    background-color: var(--firts-color);
    color: var(--second-color);
    font-size: 1rem;
}

#summary_table.show table thead tr th{
    text-align: center;
    padding: .5rem;
}

#summary_table.show table thead th:nth-child(1){
    width: 55%;
}

#summary_table.show table tbody{
    color: var(--firts-color);
}

#summary_table.show table tbody tr td{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

#summary_table.show table tbody tr td:nth-child(1){
    text-align: left;
    padding-left: .5rem;
}

#summary_table.show table tbody tr td:nth-child(2){
    text-align: center;
}

#summary_table.show table tbody tr td:nth-child(3){
    text-align: right;
    padding-right: .5rem;
}

#summary_table.show table tbody tr:nth-child(even){
    background-color: #D8D2CB;
}

#summary_table.show table tbody tr td button{
    background-color: var(--firts-color);
}

#summary_table.show table tbody tr td button svg{
    width: 1.5rem;
    height: 1.5rem;
}

/**/

/**/
#delete.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .7s;
}

#delete.show .preloader_delete{
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    border-radius: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#delete.show .preloader_delete label{
    color: red;
}

#delete.show .preloader_delete h3{
    color: #000;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: var(--font-body);
    margin-top: 1rem;
    margin-bottom: 0;
}

#delete.show .preloader_delete section button{
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--font-body);
    border-radius: .5rem;
}

#delete.show .preloader_delete section button.cancel{
    background-color: #D8D2CB;
    color: #000;
}

#delete.show .preloader_delete section button.confirm{
    background-color: var(--firts-color);
    color: var(--second-color);
    margin-right: 1rem;
}

#delete.show .preloader_delete section button:hover{
    opacity: .7;
}

/**/
.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(2.5);
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

/*class preloader wallpaper*/
#response_preloader.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .7s;
}

.preloader_wallpaper{
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.preloader_wallpaper h3{
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--firts-color);
    font-family: var(--font-body);
}

:root{
    --label-preloader: 5rem;
    --width-icon: 1.12rem;
    --heigth-icon: 2.24rem;
    --left-icon: 1.12rem;
}

@keyframes rotate{
    50%{
        border-left-color: var(--fourth-color);
    }
    75%{
        border-left-color: var(--firts-color);
    }
    100%{
        transform: rotate(360deg);
    }
}

.preloader_wallpaper label{
    position: relative;
    height: var(--label-preloader);
    width: var(--label-preloader);
    display: inline-block;
    border-radius: 50%;
    animation: rotate 1.2s linear infinite;
    border: 2px solid var(--second-color);
    opacity: .5;
    border-left-color: var(--firts-color);
}

.preloader_wallpaper label .check-icon{
    display: none;
}

@keyframes check-icon{
    0%{
        height: 0;
        width: 0;
        opacity: 1;
    }
    20%{
        height: 0;
        width: var(--width-icon);
        opacity: 1;
    }
    40%{
        height: var(--heigth-icon);
        width: var(--width-icon);
        opacity: 1;
    }
    100%{
        height: var(--heigth-icon);
        width: var(--width-icon);
        opacity: 1;
    }
}

.preloader_wallpaper.success label .check-icon:after{
    position: absolute;
    content: "";
    top: 50%;
    left: var(--left-icon);
    transform: scaleX(-1) rotate(135deg);
    border-top: 4px solid var(--firts-color);
    border-right: 4px solid var(--firts-color);
    height: var(--heigth-icon);
    width: var(--width-icon);
    transform-origin: left top;
    animation: check-icon 0.8s ease;
}

@keyframes error-icon {
    0%{font-size: .5rem;}
    50%{font-size: 2.5rem;}
    100%{font-size: .5rem;}
}

.preloader_wallpaper.error label .check-icon:after{
    color: red;
    content: "\274c";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: var(--label-preloader);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    animation: error-icon 0.8s ease;
}

.preloader_wallpaper label + h3{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.preloader_wallpaper label + h3 span{
    display: block;
}

.preloader_wallpaper label + h3 span::before{
    content: "";
}

.preloader_wallpaper.success label + h3 span,
.preloader_wallpaper.error label + h3 span{
    display: none;
}

/*text result*/
.preloader_wallpaper.success label + h3::after{
    content: "Petición satisfactoria";
}

.preloader_wallpaper.error label + h3::after{
    color: red;
    content: "Ocurrio un error al procesar la petición";
}

#msg_error.show{
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: normal;
    color: red;
    margin-top: 0;
}

.preloader_wallpaper button{
    padding: .8rem;
    border-radius: .3rem;
    font-size: 1rem;
    font-family: var(--font-body);
    color: var(--second-color);
    font-weight: 700;
    display: none;
}

.preloader_wallpaper.success button{
    background-color: var(--firts-color);
}

.preloader_wallpaper.success button:hover,
.preloader_wallpaper.error button:hover{
    opacity: .7;
}

.preloader_wallpaper.error button{
    background-color: red;
}

.preloader_wallpaper.stop_animation_preloader label .check-icon{
    display: block;
}

.preloader_wallpaper.stop_animation_preloader button{
    display: block;
}

.preloader_wallpaper.stop_animation_preloader label{
    animation: none;
    border-color: var(--firts-color);
    opacity: .8;
    transition: border 0.5s ease-out;
}

.preloader_wallpaper.error.stop_animation_preloader label{
    border-color: red;
}

.text_popup{
    font-size: 1rem;
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--firts-color);
    text-align: center;
}

/*class init preloader*/
#init_preloader.show{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--leaflet-color-btn);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#init_preloader.show .preloader_wallpaper{
    background-color: inherit;
}

#init_preloader.show .preloader_wallpaper h3{
    color: var(--firts-color);
    font-size: 1.2rem;
    font-family: var(--font-body);
}

/*end class init preloader*/

/*END CLASS PRELOADER WALLPAPER*/

.ts-dropdown,
.ts-control,
.ts-control input{
    font-family: var(--font-body);
}

@media (pointer: coarse){
    main,
    #information{
        height: 100%;
        height: calc(var(--app-height, 1vh) * 100);
    }
}

@media all and (max-width: 900px){
    header svg{
        width: 2.5rem;
        height: 2.5rem;
    }

    footer svg{
        width: 1.8rem;
        height: 1.8rem;
    }

    main{
        grid-template-rows: auto 1fr auto;
        grid-template-areas:    "header"
                                "main"
                                "footer";
    }

    header{
        grid-area: header;
    }

    footer{
        grid-area: footer;
    }

    .main_show{
        grid-area: main;
    }

    aside.btn_info{
        display: none;
    }
    
}

@media all and (min-width: 900px){
    body{
        background-color: var(--second-color);
    }

    header svg,
    footer svg{
        width: 1.8rem;
        height: 1.8rem;
    }

    aside.btn_info svg{
        width: 1.4rem;
        height: 1.4rem;
        margin-right: .5rem;
    }

    main{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "header header"
                                "main map"
                                "footer map";
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        grid-area: header;
    }

    header{
        justify-content: space-between;
        padding-right: 1rem;
    }

    header aside.btn_info a{
        color: var(--second-color);
        text-decoration: none;
    }

    footer{
        grid-area: footer;
    }

    .main_show{
        grid-area: main;
    }

    #map{
        grid-area: map;
        height: 100%;
    }

    li#list_map{
        display: none;
    }

    li#list_info{
        display: none;
    }

    #information.show{
        left: calc(100%/2 - 200px);
    }

    #screen{
        max-width: 100vw;
    }

    #information.show{
        border-radius: 1rem;
        height: 80%;
        top: calc((100vh - 80%)/ 2);
    }

}